<h2>Recipes#edit</h2>
<%= form_tag recipes_path do %>
  <label>Recipe Name:</label>
  <%= text_field_tag :name, @recipe.name %><br>
  <label>Instructions:</label>
  <%= text_area_tag :instructions, @recipe.instructions %><br>
  <label>Cooking Time:</label>
  <%= text_field_tag :cooking_time, @recipe.cooking_time %><br>
  <label>Cooking Style:</label>
  <%= text_field_tag :cooking_style, @recipe.cooking_style %>
<% end %>

<h3>Ingredients:</h3>
  <ul class="no-decoration ingredient-list">
  <% @recipe.ingredients.each do |ingredient| %>
    <%= render partial: "ingredients/show", locals: {ingredient: ingredient} %>
  <% end %>
</ul>

<h5>Tags:</h5>
  <ul class="no-decoration tag-container">
    <% @recipe.tags.each do |tag| %>
      <%= render partial: "tags/show", locals: {tag: tag} %>
      <% end %>
  </ul>

