<h2>Recipes#edit</h2>
<%= form_for @recipe do |f| %>
  <label>Recipe Name:</label>
  <%= f.text_field :name %><br><br>
  <label>Instructions:</label>
  <%= f.text_area :instructions, rows: 5, cols: 100 %><br><br>
  <label>Cooking Time:</label>
  <%= f.text_field :cooking_time %><br><br>
  <label>Cooking Style:</label>
  <%= f.text_field :cooking_style %><br><br>
  <label>Ingredients: </label>
  <%= f.fields_for :ingredients, @recipe.ingredients || @recipe.build_ingredient do |ingredient| %>
  <% end %>

  <br><br>

  <%= f.fields_for :tags, @recipe.tags || @recipe.build_tag do |tag| %>
    Tag: <%= tag.text_field :body %><br>
  <% end %><br>
  <%= f.submit "Update Recipe" %>
<% end %>
<br>





