<h1><%= @recipe.name %></h1>
<% if current_user == @recipe.creator %>
  <%= link_to "Edit Recipe", edit_recipe_path(@recipe) %>
<% end %>
<p>by: <%= @recipe.creator.username %></p>
<h3>Ingredients:</h3>
  <ul class="no-decoration ingredient-list">
  <% @recipe.ingredients.each do |ingredient| %>
    <%= render partial: "ingredients/show", locals: {ingredient: ingredient} %>
  <% end %>
<h3>Instructions:</h3>
<p><%= @recipe.instructions %></p>
<h5>Cooking Time:</h5>
<p><%= @recipe.cooking_time %></p>
<h5>Cooking Style: </h5>
<p><%= @recipe.cooking_style %></p>
<h5>Tags:</h5>
  <ul class="no-decoration tag-container">
    <% @recipe.tags.each do |tag| %>
      <%= render partial: "tags/show", locals: {tag: tag} %>
      <% end %>
  </ul>

  <div class="fav-form">
    <%= render partial: "users/favorite" %>
  </div>
